@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Avenir LT Std";
  color: black;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10vh;
}


