* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center; 

}

main {
    padding: 3vh 3vw;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}



input[type='number'] {

    width: 5vw;
    height: 5vh;
    font-size: 1.5vw;

}

#range {
    width: 50vh;
    height: 5vw;
    -webkit-appearance: none;
    background: white;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    transform: rotate(-90deg);
}


#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f44336;
    width: 15px;
    height: 5vw;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #f44336;
}

#range::-moz-range-thumb {
    height: 5vw;
    -webkit-appearance: none;
    background: #f44336;
    cursor: pointer;
    border: 0;
    box-shadow: -407px 0 0 400px #f44336;
}


#compute {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 15px;
    border: 0.15vw solid black;
    background-color: #FF4A06;
    cursor: pointer;


}

#compute:hover {
    color: white;
    background-color: black;
}


