*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    background-image: url('../images/balanca01.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 500px;
    text-align: center;
    position: relative;
    
    
}

.form-greater-than-number1{
    background-image: url('../images/balanca02.png');
}

.form-greater-than-number2{
    background-image: url('../images/balanca03.png');
}

input[type='number'] {
    /* background-color: blue; */
    width: 150px;
    height: 80px;
    appearance: none;
    -moz-appearance:textfield;
    font-size: 30px;
    text-align: center;
   
}

#number1{
    position: relative;
    left: -140px;
  
}

#number2{
    position: relative;
    left: 267px;
  
}
.init{
    top: 65px;
}

.eq{
    background-color: #4CAF50;
    color: white;
    top: 65px;
}

.gt{
    background-color: #4CAF50;
    color: white;
    border: 0; 
    position: relative;
    top: 115px;
}

.lt{
    background-color: #f44336;
    color: white;
    border: 0; 
    top: 20px;
}

#comparar{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 15px;
    border: 0.15vw solid black;
    background-color: #FF4A06;
    cursor: pointer;
    position: relative;
    left: -155px;
    top: 110px;

}

#comparar:hover {
    color: white;
    background-color: black;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}