* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/convite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    color: #242524;
}

main {
    width: 100vw;
     display: flex;
    justify-content: space-between;
    align-items: center;

}

.pais-noivos {
    height: 80vh;
    font-family: 'Tahoma', monospace;
    font-size: 1.5vh;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0.1h;
    line-height: 1.5VW;
    padding: 0 1vw;
}

.centro {
    height: 90vh;
 
}

.data-evento {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Georgia, serif;
    font-size: 0.8vw;
    writing-mode: horizontal-tb;
    text-align: center;
}

.casal {
    height: 30vh;
    width: 90vw;
    background-image: url(./centro.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 5vw;
}

footer {
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Courier New', monospace;
    font-size: 1vw;
    font-weight: 800;
}

footer h3 {
    font-family: Georgia, serif;
    font-size: 1.3vw;
    font-weight: 100;
    text-decoration: underline;
}

