* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #74abe2, #5563de);
  font-family: "Ropa Sans", sans-serif;
}

.slider {
  background-color: white;
  width: 30vw;
  height: 30vw;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 30vw;
  height: 30vw;
  display: flex;
  gap: 2vw;

  /*no scroll escolhe qual imagem é predominante e ajusta para essa imagem*/
  scroll-snap-type: x mandatory;
  /*Adiciona um efeito de rolagem suave*/
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
  scrollbar-color: black transparent;
  scrollbar-width: thin;
  position: relative;

  animation-name: tonext, snap; 
  /* animation-name: tonext; */
   animation-timing-function: ease;
  animation-duration: 4s;
  animation-iteration-count: infinite;


}


 


.slides img {
  scroll-snap-align: center; /*a imagem mandatory ficar no inicio*/
  flex-shrink: 0; /*garante que o item não deve encolher*/
  width: 30vw;
  height: 30vw;
  /* position: relative; */
  object-fit: contain;
  object-position: center;
  

}

.slider nav {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
}

.slider a {
  display: inline-flex;
  width: 1vw;
  height: 1vw;
  background: white;
  border: 1px solid;
  color: black;
  position: relative;
  top: -2vw;
  z-index: 3;
  text-decoration: none;
  border-radius: 50%;
}

.scrool-none {
  overflow-x: hidden;
 }

.nav-none a {
  display: none;
}


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}