/*
paleta de cores baseado na logo da Elomoodas
#0BC4D9 #07D9D9 #B6F2EC #F24F13 #F2BFBB

tema1 - #EB490E #FAEBEA
tema2 - #102A5C #00BFB2
tema3 - #762204 #FFF1F0
tema4 - #000A0C #BFFFF9

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #BFFFF9; */
    /*fonte e cor predominantes dos textos*/
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 1.8vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #102A5C;
    color: #00BFB2;
    gap: 3vh;
    overflow-x: hidden;
}


header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

#sub-header {
    width: 100vw;
    height: 5vh;
    background-color: #FAEBEA;
    color: #EB490E;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#sub-header div{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#sub-header .icon{
    width: 1.5vw;
}

#sub-header a {
    text-decoration: none;
    color:#EB490E;
}

#header-main {
    width: 100vw;
    height: 7vh;
    background-color: #00BFB2;
    color: #1D438A;
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#header-main div{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#header-main .icon{
    width: 2vw;
}

#header-main a {
    text-decoration: none;
    /* color:#EB490E; */
}

h1, h2 {
    font-family: 'Open Sans';
    font-family: 'Source Serif Pro';
    font-weight: 300;
}

#img-header {
    width: 100vw;
    height: 30vh;
    object-fit: fill;
    overflow: hidden;
}


#search {
    width: 35vw;
    height: 5vh;
}


#about,
main {
    /* margin-top: 45vh; */
    padding: 10vh 3vw;
    width: 100vw;
    background-color: #FFF1F0;
    color: #762204;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#advantages{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#advantages div{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#advantages .icon{
    width: 3vw;
}

#advantages div p{
    font-size: 1.5vmin;
    line-height: 3vh;
}

#advantages div p::first-line{
    font-size: 2.5vmin;
}

#photo {
    /*1280 1600*/
    width: 30vmin;
    height: 44vmin;
    background-image: url("../images/eloina.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% 50% 0% 0%;
    box-shadow: 0.5vmin 0.5vmin 1vmin 0 #3E433D;
}

.container-product {
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
     width: 35vmin;
     width: 35vmin;
    overflow: hidden;
}

.card-img img{
    width: 34vmin;
    height: 34vmin;
    object-fit: cover;
    object-position:center;
    transition: transform .5s ease;
}

 .card-img img:hover{
    transform: scale(1.5);
}